{% if product %}
    <div class="product-addon" data-product-id="{{ product.variants.first.id }}">
        <div class="product-addon-content">
            <div class="modal-image-container">
                <a href="{{ product.url }}">
                    <img
                        src="{{ product.featured_image | image_url: width: 62, height: 62 }}"
                        width="62"
                        height="62"
                        alt="{{ product.title | escape }}"
                        style="cursor: pointer;">
                </a>
            </div>
            <div class="addon-text">
                <a href="{{ product.url }}">
                    <p>{{ product.title }}</p>
                </a>
                <p>{{ product.price | money_with_currency }}</p>
                {% if product.compare_at_price > product.price %}
                    <p>{{ product.compare_at_price | money_with_currency }}</p>
                {% endif %}
            </div>
        </div>
        <div>
            {% if product.variants.first.available %}
                <button class="toggle-add-to-cart btn btn--primary" onclick="toggleCart('{{ product.variants.first.id }}', this)">+ Add</button>
            {% else %}
                <button class="btn btn--primary" disabled>No Stock</button>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>Product not found.</p>
{% endif %}
