<div
  class="relative container container--no-mobile-padding large-row section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
>
  {% liquid
    assign img_padding = section.settings.image_size
    assign img_padding_mob = section.settings.image_size | divided_by: 2
  %}
  {% style %}
    .section-{{ section.id }} .image-with-text {
      background: {{ section.settings.gradient_bg | default: section.settings.color_bg }};
      color: {{ section.settings.color_text }};
    }

    .section-{{ section.id }} .image-with-text__image-size {
      padding: {{ img_padding }}px 0 {{ img_padding }}px {{ img_padding }}px;
    }

    .section-{{ section.id }} .image-with-text--reverse .image-with-text__image-size {
      padding: {{ img_padding }}px {{ img_padding }}px {{ img_padding }}px 0;
    }

    @media only screen and (max-width: 767.98px) {
      .section-{{ section.id }} .image-with-text .image-with-text__image-size {
        padding: {{ img_padding }}px {{ img_padding }}px 0 {{ img_padding }}px;
      }
    }

    {% if section.settings.image_size == '120' %}
      @media screen and (max-width: 1000px) and (min-width: 767.98px) {
        .section-{{ section.id }} .image-with-text .image-with-text__image-size {
          padding: {{ img_padding_mob }}px 0 {{ img_padding_mob }}px {{ img_padding_mob }}px;
        }
        .section-{{ section.id }} .image-with-text--reverse .image-with-text__image-size {
          padding: {{ img_padding_mob }}px {{ img_padding_mob }}px {{ img_padding_mob }}px 0;
        }
      }
      @media screen and (max-width: 580px) {
        .section-{{ section.id }} .image-with-text .image-with-text__image-size {
          padding: {{ img_padding_mob }}px {{ img_padding_mob }}px 0 {{ img_padding_mob }}px;
        }
      }
    {% endif %}
  {% endstyle %}

  <div class="page-width image-with-text mobile desktop flex global-border-radius {% if section.settings.image_position == 'right' %} image-with-text--reverse{% endif %} {% if section.settings.image_size == '0' %} image-with-text--full{% endif %}">
    <div class="one-half small-down--one-whole relative image-with-text__image overflow-hidden">
      <div
        class="image-with-text__image-size {% unless section.settings.image_size == '0' %}image-with-text__image-radius{% endunless %}"
        data-cc-animate="zoom-out-fade-in"
      >
        {%- if section.settings.image_link != blank -%}
          <a
            class="block hover-images{% unless section.settings.image_size == '0' %} global-border-radius{% endunless %}"
            href="{{ section.settings.image_link }}"
          >
            <div class="image-one">
        {%- endif -%}

        {%- if section.settings.image != blank -%}
          {%- if section.settings.image_size == '0' -%}
            <div
              class="rimage-outer-wrapper rimage-background lazyload fade-in"
              data-bgset="{% render 'bgset', image: section.settings.image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-position: {{ section.settings.image.presentation.focal_point }}"
            >
              <div
                class="rimage-wrapper"
                style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%"
              >
                <noscript>
                  <img
                    src="{{ section.settings.image | img_url: '1024x1024' }}"
                    alt="{{ section.settings.image.alt | escape }}"
                    class="rimage__image"
                  >
                </noscript>
              </div>
            </div>
          {%- else -%}
            {% render 'responsive-image', image: section.settings.image, nomax: true %}
          {%- endif -%}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}

        {%- if section.settings.image_link != blank -%}
          </div>
          </a>
        {%- endif -%}
      </div>
    </div>

    <div class="one-half small-down--one-whole relative image-with-text__content mobile" data-cc-animate>
      <div class="{%- if section.settings.text_alignment == 'center' -%}center{%- endif -%}">
        <!-- Caption Block Above Header -->
        {% if section.settings.caption %}
          <div class="image-with-text__caption">
            {{ section.settings.caption }}
          </div>
        {% endif %}
        <h2 class="image-with-text__title desktop mobile{% if section.settings.enlarge_title %} giant-title{% else %} large-title{% endif %}">
          {{ section.settings.title }}
        </h2>
        {% if section.settings.text %}
          <div class="image-with-text__text mobile{% if section.settings.enlarge_text %}large-text{% endif %}">
            {{ section.settings.text }}
          </div>
        {% endif %}

        {% if section.settings.button_label != blank %}
          {%- assign inherit_colour = false -%}
          {%- if section.settings.url_style == 'link_style' -%}
            {%- assign alpha = section.settings.color_bg | color_extract: 'alpha' -%}
            {%- if alpha > 0 and section.settings.color_bg != settings.color_body_background -%}
              {%- assign inherit_colour = true -%}
            {%- endif -%}
          {%- endif -%}

          <a
            class="image-with-text__link {% if section.settings.url_style == 'button_1' %}btn btn--small btn--primary{% elsif section.settings.url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if inherit_colour %}standard-link--inherit-color{% endif %}{% endif %}"
            href="{{ section.settings.button_link }}"
          >
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
      <div class="icon-text desktop">
        <div class="columns-wrapper">
          <div class="icon-column">
            {% if section.settings.icon_image != blank %}
              <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
            {% endif %}
            <p>{{ section.settings.icon_1_text }}</p>
          </div>
          <div class="icon-column">
            {% if section.settings.icon_image != blank %}
              <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
            {% endif %}
            <p>{{ section.settings.icon_2_text }}</p>
          </div>
          <div class="icon-column">
            {% if section.settings.icon_image != blank %}
              <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
            {% endif %}
            <p>{{ section.settings.icon_3_text }}</p>
          </div>
          <div class="icon-column">
            {% if section.settings.icon_image != blank %}
              <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
            {% endif %}
            <p>{{ section.settings.icon_4_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="icon-text mobile">
    <div class="columns-wrapper">
      <div class="icon-column">
        {% if section.settings.icon_image != blank %}
          <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
        {% endif %}
        <p>{{ section.settings.icon_1_text }}</p>
      </div>
      <div class="icon-column">
        {% if section.settings.icon_image != blank %}
          <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
        {% endif %}
        <p>{{ section.settings.icon_2_text }}</p>
      </div>
      <div class="icon-column">
        {% if section.settings.icon_image != blank %}
          <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
        {% endif %}
        <p>{{ section.settings.icon_3_text }}</p>
      </div>
      <div class="icon-column">
        {% if section.settings.icon_image != blank %}
          <img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="Icon" width="30" height="30">
        {% endif %}
        <p>{{ section.settings.icon_4_text }}</p>
      </div>
    </div>
  </div>
</div>

{% style %}
  .image-with-text.desktop {
    margin-bottom: 40px;
  }
  .columns-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .icon-column {
    text-align: center;
    flex: 1;
  }

  .icon {
    margin-bottom: 10px;
  }

  .image-with-text__caption {
    margin-bottom: 20px;
  }

  .image-with-text__title {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .image-with-text__title.desktop {
    font-size: 40px;
  }
  .image-with-text__text p {
    font-size: 20px;
  }

  .btn--primary {
    background-color: #fff;
    color: #676c4c;
    margin-bottom: 60px;
    padding: 10px 24px;
  }

  .icon-column img {
    height: 18px;
    width: 18px;
  }

  .columns-wrapper {
    gap: 30px;
  }

  .icon-text.desktop {
    display: flex;
  }

  .icon-text.mobile {
    display: none;
  }

  @media (max-width: 768px) {
    .image-with-text.mobile {
      flex-direction: column-reverse;
      margin: 20px 30px;
      border-radius: 20px;
    }

    .icon-text.desktop {
      display: none;
    }
    .image-with-text__content.mobile {
      padding: 60px 60px 0 60px;
    }
    .icon-text.mobile {
      display: grid;
      gap: 20px;
      margin: 20px 30px;
    }

    .image-with-text__title.mobile {
      font-size: 26px !important;
    }

    .image-with-text__text.mobile p {
      font-size: 14px !important;
    }
    .columns-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 80%;
      margin: 0 auto 20px;
    }
    .columns-wrapper p {
      margin: 0;
      font-size: 13px;
    }
    .icon-column img {
      filter: brightness(0) saturate(100%) invert(47%) sepia(9%) saturate(355%) hue-rotate(20deg) brightness(90%)
        contrast(90%);
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Image with text",
  "tag": "section",
  "class": "section-image-with-text",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Space around image",
      "options": [
        { "value": "120", "label": "Large" },
        { "value": "60", "label": "Medium" },
        { "value": "30", "label": "Small" },
        { "value": "0", "label": "None" }
      ],
      "default": "30"
    },
    {
      "type": "radio",
      "id": "image_position",
      "label": "Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "Designer pots & planters"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Cultivating a greener world."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Premium designer garden pots & planters.<\/p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button",
      "default": "VIEW OUR RANGE"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "radio",
      "id": "url_style",
      "label": "Button style",
      "options": [
        { "value": "button_1", "label": "Button - primary" },
        { "value": "button_2", "label": "Button - secondary" },
        { "value": "link_style", "label": "Link" }
      ],
      "default": "button_1"
    },
    {
      "type": "checkbox",
      "id": "enlarge_title",
      "label": "Enlarge heading",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enlarge_text",
      "label": "Enlarge text",
      "default": false
    },
    {
      "type": "radio",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        { "value": "center", "label": "Center" },
        { "value": "left", "label": "Left" }
      ]
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#dae4e6"
    },
    {
      "type": "color_background",
      "id": "gradient_bg",
      "label": "Background gradient",
      "info": "If set, replaces background color"
    },
    {
      "type": "header",
      "content": "Icon Text Columns"
    },
    {
      "type": "image_picker",
      "id": "icon_image",
      "label": "Upload Icon Image"
    },
    {
      "type": "text",
      "id": "icon_1_text",
      "label": "Column 1 Text",
      "default": "Over 2,400+ 5 star reviews"
    },
    {
      "type": "text",
      "id": "icon_2_text",
      "label": "Column 2 Text",
      "default": "Over 100+ styles to choose from"
    },
    {
      "type": "text",
      "id": "icon_3_text",
      "label": "Column 3 Text",
      "default": "Suitable for indoors & outdoors"
    },
    {
      "type": "text",
      "id": "icon_4_text",
      "label": "Column 4 Text",
      "default": "Launching Mid December 2024"
    }
  ],
  "presets": [
    {
      "name": "Custom Image with text"
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}
